<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<title>Kategorije</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand navbar-dark bg-dark">
					<a class="navbar-brand" href="https://enastava.ftninformatika.com">
						<img src="/images/logo.svg" />
					</a>
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/index.html">Početna</a>
						<a class="nav-item nav-link active" href="/kategorije">Kategorije</a>
						<a class="nav-item nav-link" href="/restorani">Restorani</a>
						<a class="nav-item nav-link" href="/artikli">Artikli</a>
						<a class="nav-item nav-link" href="/korisnici">Korisnici</a>
					</div>
				</nav>
				<nav class="navbar navbar-expand navbar-dark bg-secondary">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/kategorije">Prikaz svih</a>
						<a class="nav-item nav-link active" href="/kategorije/dodavanje">Dodavanje</a>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-5 mx-auto">
				<form action="/kategorije/dodavanje" method="post">
					<div class="row my-2">
						<label class="col-2 col-form-label text-end">Naziv</label>
						<div class="col-10">
							<input type="text" class="form-control" name="naziv">
						</div>
					</div>
					<div class="row my-2">
						<div class="col-2"></div>
						<div class="col-10">
							<button type="submit" class="btn btn-primary w-100">Dodaj</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
